In [4]:
a = 10
b = 20
if a == 10 and b == 20 :
    print("Valid Statement ")

Valid Statement

In [ ]:
# python does not support && , || instead we have to use "and" , "or" .

In [2]:
a == 10 and b == 20

True

In [5]:
# Question

In [7]:
a = input("Enter your first name : ")
b = input("Enter your last name : ")

if a == "Ritesh" and b == "Swami" :
    print("You are correct")
else :
    print("You are wrong ")

Enter your first name :  Ritesh
Enter your last name :  Swami

You are correct

In [8]:
# LOOPS

In [9]:
# while loop

In [17]:
initial_speed = 0 
final_speed = 100
while initial_speed != 100  :
    print(initial_speed)
    initial_speed = initial_speed + 1
    # initial_speed += 1 this also works 
    if initial_speed == 10 :
        break 
print("Loop terminated !")

0
1
2
3
4
5
6
7
8
9
Loop terminated !

In [18]:
# ++ and -- does not work in python .

In [19]:
# break is used to terminate the loop .

In [20]:
a = 0
b = 7
while a < b :
    print(a)
    a += 1
else :
    print("here the else condition works in python it  ")

0
1
2
3
4
5
6
here the else condition works in python

In [21]:
# in Python, the `else` clause can also be used with loops (`while` and `for`).
# When used with loops in Python:
# - The code in the `else` block executes after the loop completes normally (when the loop condition becomes `False`)
# - The `else` block will NOT execute if the loop was terminated by a `break` statement

In [1]:
a = 0
b = 10
while a < b :
    a += 1
    if a == 5 :
        continue
    print(a)
    
else :
    print("Loop terminated ")

1
2
3
4
6
7
8
9
10
Loop terminated

In [4]:
s = "Ritesh Swami is my name"
print(s[0])
print(s[1])
print(s[4])
print(s[5])
print(s[-4])
print(s[-9])
print(s[-6])
print(s[-2])
print(s[4 : 24])
# here it will include the starting index but will exclude the ending index of the range given separated by ":" .
print(s[0:24:2])
# here the third no. after ":" indicated the jump or number of steps .
print(s[24:0:-2])
# this way we can reverse a string .
# by default the value of jump is 1 .
# so s[start : end : jump ] is the syntax , where start will be included and end will be excluded . 
print(s[::-1])
# this will reverse the complete string .
print(s[0:-4])
# here it will print the string from index 0 to -4 index (4th index from end of string) , so from end index start from -1,-2,-3.....

R
i
s
h
n
s
y
m
sh Swami is my name
Rts wm sm ae
ea ms mw st
eman ym si imawS hsetiR
Ritesh Swami is my

In [5]:
# for loop

In [54]:
s = "for loop works"
for i in s :
    print(i , end = "")
    if i == 'o' :
        print("okk")

fookk
r lookk
ookk
p wookk
rks

In [8]:
# so i goes from 0 to the end index .

In [11]:
for i in s :
    if i == 'p' :
        continue
    if i == 'k' :
        break 
    print(i)
else :
    print("This is an else condition")

f
o
r

l
o
o

w
o
r

In [12]:
len(s)

14

In [15]:
n = 7
for i in range(0 , 7) :
    for j in range(0, i+1) :
        print("*" , end = "")
    print("\r")

*
**
***
****
*****
******
*******

In [17]:
# range() is used to generate a sequence of numbers to repeat an action a certain number of times.
# Syntax
# range(stop)
# range(start, stop)
# range(start, stop, step)
# here , start: The value of the first number in the sequence (default is 0).
# stop: The sequence ends before this number (exclusive).
# step: The difference between each number in the sequence (default is 1).

In [18]:
 # Question

In [26]:
n = int(input("Enter number of rows to print : "))

for i in range(n , 0 , -1) :
    for j in range(n-i) :
        print(' ' , end = '')

    for j in range(2*i - 1) : 
        print('*' , end = '')
    print()

Enter number of rows to print :  6

***********
 *********
  *******
   *****
    ***
     *

In [33]:
n = int(input("Enter number of rows to print : "))
i = 0

while i < n:
    print(' '*(n - i - 1) + '* '*(i+1) )
    i += 1

Enter number of rows to print :  9

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [34]:
# List

In [42]:
l = list()
l = ['1' , 1312 , 32213.3422 , "adewdew" , True , 42 + 242j , [212,"313",False] ] 
print(l[0])
print(l[1])
print(l[2])
print(l[3])

1
1312
32213.3422
adewdew

In [39]:
type(l)

list

In [41]:
l1 = []
type(l1)

list

In [44]:
for i in l : 
    if type(i) == list : 
        for j in i :
            print(type(j))

<class 'int'>
<class 'str'>
<class 'bool'>

In [45]:
l[0:3]

['1', 1312, 32213.3422]

In [49]:
l[0 : 17 : 2] # start and end are ranges not index so they can go beyond indexes .

['1', 32213.3422, True, [212, '313', False]]

In [53]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]