In [1]:
# strings and lists

In [3]:
# we can use ' when the string in written between " " and vice verse but if same is used inside the string then it will be an error .

In [17]:
s = "today we will explore strings and lists' !"
s[2] = 'p'

TypeError: 'str' object does not support item assignment

In [ ]:
# so string is immutable , we cannot assign or change single indexes of a string , while list is mutable  .

In [12]:
r = [132 , 21.342 , "csdf"]
r[1] = "nxz"

In [15]:
print(r)

[132, 'nxz', 'csdf']

In [5]:
a = "after a. just press tab it will provide all posible operations ."
print(a.find("t"))
print(a.count("t"))

2
5

In [ ]:
# Question

In [6]:
# find the indexes of all the letters present in the word "ritesh" but find() should be used once .

In [14]:
s = "my name is Ritesh Swami , First name is Ritesh and Last name is Swami !"

b = s.find("ritesh")
for i in range(len("ritesh")) :
    print(b+i)

-1
0
1
2
3
4

In [15]:
s.split()

['my',
 'name',
 'is',
 'Ritesh',
 'Swami',
 ',',
 'First',
 'name',
 'is',
 'Ritesh',
 'and',
 'Last',
 'name',
 'is',
 'Swami',
 '!']

In [16]:
s.split("name")

['my ', ' is Ritesh Swami , First ', ' is Ritesh and Last ', ' is Swami !']

In [17]:
s

'my name is Ritesh Swami , First name is Ritesh and Last name is Swami !'

In [18]:
s.upper()

'MY NAME IS RITESH SWAMI , FIRST NAME IS RITESH AND LAST NAME IS SWAMI !'

In [19]:
s.lower()

'my name is ritesh swami , first name is ritesh and last name is swami !'

In [20]:
s.swapcase()

'MY NAME IS rITESH sWAMI , fIRST NAME IS rITESH AND lAST NAME IS sWAMI !'

In [24]:
p = "      Ritesh         Swami        "
print(p.strip())
print(p.lstrip())
print(p.rstrip())

Ritesh         Swami
Ritesh         Swami
      Ritesh         Swami

In [25]:
p.replace("Ritesh" , "Ankush")

'      Ankush         Swami        '

In [26]:
 p

'      Ritesh         Swami        '

In [27]:
P = p.replace("Ritesh" , "Ankush")

In [28]:
P

'      Ankush         Swami        '

In [2]:
p = "Ritesh Swami"

In [3]:
p.isupper()

False

In [4]:
p.islower()

False

In [5]:
p.endswith("i")

True

In [7]:
p.isalpha()

False

In [8]:
p

'Ritesh Swami'

In [12]:
for i in range(1 ,len(p)):
    print(p[-i])

i
m
a
w
S

h
s
e
t
i

In [18]:
name = "Ritesh Swami"
vowel = "AaEeIiOoUu"

for i in name : 
    if i in vowel :
        print("{} is a vowel ".format(i))
    else :
        print("{} is not a vowel ".format(i))

R is not a vowel
i is a vowel
t is not a vowel
e is a vowel
s is not a vowel
h is not a vowel
  is not a vowel
S is not a vowel
w is not a vowel
a is a vowel
m is not a vowel
i is a vowel

In [14]:
" {} name is ritesh swami ".format("my")

' my name is ritesh swami '

In [15]:
" {} name is {} {} ".format("my" , "Ritesh" , "Swami")

' my name is Ritesh Swami '

In [19]:
a = input("Enter your first name : ")
b = input("Enter your second name : ")
" {} name is {} {} ".format("Your" , a , b)

Enter your first name :  ankush
Enter your second name :  swami

' Your name is ankush swami '

In [1]:
# Question

In [2]:
# provide the index of second name .

In [7]:
s = "my first name is ritesh and my last name is swami"
cnt = 0 
for i in s : 
    if s.find("name") :
        if cnt == 0 :
            cnt += 1
            continue
        else :
            print(s.find("name")

SyntaxError: incomplete input (3904212761.py, line 9)

In [1]:
# List Manipulation

In [1]:
l = [351 , 2871.234 , "hello" , 'a' , [236.32 , "bye" , 252 + 762j] , True]
for i in l : 
    print(i , end = "  ,  ")
    if type(i) == list :
        print("\n\nlist l contains a list inside it  : " , i)

351  ,  2871.234  ,  hello  ,  a  ,  [236.32, 'bye', (252+762j)]  ,

list l contains a list inside it  :  [236.32, 'bye', (252+762j)]
True  ,

In [6]:
print(False in l)
print('a' in l)
print(max([121 ,23 , 3552 ,31.45 , 31313.98 , 8723]))
print(max(["assa" , "afwwf" , "ertwfw" ,"hyttre" , "zdsfw"]))
print(min([121 ,23 , 3552 ,31.45 , 31313.98 , 8723]))
print(min(["assa" , "afwwf" , "ertwfw" ,"hyttre" , "zdsfw"]))

False
True
31313.98
zdsfw
23
afwwf

- not work with a combination of string and num .
- append() will add the data to the end of the list .
- insert() can be used to add the data at desired index , Insert object before index .
    syntax :

In [17]:
ls = [25 , 21 , 13 , 11 , 97]
ls.append("rishu")
ls.insert(1 , "Anu")
ls.insert(-1 , "Imp") # Insert object before index 
ls

[25, 'Anu', 21, 13, 11, 97, 'Imp', 'rishu']

In [13]:
ls + "rishu"

TypeError: can only concatenate list (not "str") to list

In [2]:
ls = [16 , 289 , 982 ,92 ,"rishu"]
ls.append([1,2,3,4,5,6])
ls

[16, 289, 982, 92, 'rishu', [1, 2, 3, 4, 5, 6]]

In [3]:
ls.extend("Testing")
# extend only works with iterable objects so numbers cant be added using it since they are not iterable .
ls

[16,
 289,
 982,
 92,
 'rishu',
 [1, 2, 3, 4, 5, 6],
 'T',
 'e',
 's',
 't',
 'i',
 'n',
 'g']

In [27]:
s = "testing"
list(s)

['t', 'e', 's', 't', 'i', 'n', 'g']

In [6]:
l1 = [514 , 762 , 272 + 282j , "qssh"]
l2 = [983 , 2902 ,-29.73 , "khd" , "a"]
l1.extend(l2)
l1

[514, 762, (272+282j), 'qssh', 983, 2902, -29.73, 'khd', 'a']

In [12]:
l = [1,2,3,4,5,6,7]
l.pop()    # Remove and return item at index (default last).

7

In [13]:
l

[1, 2, 3, 4, 5, 6]

In [14]:
l.pop(0)

1

In [15]:
l

[2, 3, 4, 5, 6]

In [25]:
L = [1,2,3,8,4,5,5,9,5,6,7]
L.remove( 5 )
L

[1, 2, 3, 8, 4, 5, 9, 5, 6, 7]

In [26]:
L.reverse()
L

[7, 6, 5, 9, 5, 4, 8, 3, 2, 1]

In [27]:
L.sort()
L

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [31]:
L1 = [12,454,775,"ksdh","qejo"]
L1.sort()
L1

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
# worjks fine with a coombination of int and float .

In [33]:
# Question

In [24]:
# find the index of string element in the nested list and remove the string .
LL = [[1 , 2 ,"r" , "r" , "r" , 3 , 4] , [29 ,29 ,"hiii",23 ,92] , ['a','w','t','k'] , ["jdjh" , "euwy" ,342,243,21, "wyeuw"] , "hello"]
LL.append([8172,18671,971] )
LL.append([7281.11 , 829.93 , 1761.28 ,8292.276] )
LL.append(99 + 652j) 
print(LL)
for i in LL :
    if type(i) == list :
        j = 0
        while j < len(i) :
            if type(i[j]) is str :
                print("index of string {} is :" .format(i[j]) , j)
                j = j + 1
            j = 0 
            while j < len(i) :
                if type(i[j]) is str :
                    print("the string in the nested list is '{}'".format(i[j]))
                    i.remove(i[j])
                    continue
                j = j + 1
print("list after removel of string from nested list is \r", LL , "\n")

[[1, 2, 'r', 'r', 'r', 3, 4], [29, 29, 'hiii', 23, 92], ['a', 'w', 't', 'k'], ['jdjh', 'euwy', 342, 243, 21, 'wyeuw'], 'hello', [8172, 18671, 971], [7281.11, 829.93, 1761.28, 8292.276], (99+652j)]
the string in the nested list is 'r'
the string in the nested list is 'r'
the string in the nested list is 'r'
the string in the nested list is 'hiii'
index of string a is : 0
the string in the nested list is 'a'
the string in the nested list is 'w'
the string in the nested list is 't'
the string in the nested list is 'k'
index of string jdjh is : 0
the string in the nested list is 'jdjh'
the string in the nested list is 'euwy'
the string in the nested list is 'wyeuw'
 [[1, 2, 3, 4], [29, 29, 23, 92], [], [342, 243, 21], 'hello', [8172, 18671, 971], [7281.11, 829.93, 1761.28, 8292.276], (99+652j)]

In [5]:
l1 = []
for i in "Ritesh" :
    l1.append(i)
print(l1)

['R', 'i', 't', 'e', 's', 'h']

In [7]:
[i for i in "Ritesh"]    # list comprehension

['R', 'i', 't', 'e', 's', 'h']

In [9]:
l2 = []
for i in range(10) :
    if i % 2 == 0 :
        l2.append(i)
l2

[0, 2, 4, 6, 8]

In [10]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [15]:
l = []
for i in range(10) :
    if i%2 != 0 :
        l.append("Odd")
    else :
        l.append("Even")
l

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [16]:
["Odd" if i%2 != 0 else "Even" for i in range(10) ]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [18]:
mat = []
for i in range(3) :
    mat.append([])
    for j in range(4) :
        mat[i].append(j)
mat

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [19]:
[[j for j in range(4)]for i in range(3)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [20]:
[i for i in range(20) if i%2 == 0 if i%3 == 0]

[0, 6, 12, 18]

In [22]:
["yes" if i < 3 else "No" if i > 8 else "nothing"for i in range(12) ]

['yes',
 'yes',
 'yes',
 'nothing',
 'nothing',
 'nothing',
 'nothing',
 'nothing',
 'nothing',
 'No',
 'No',
 'No']

In [27]:
a = ["a" , "b" , "c" , "d" , "e" ]
for i in a :
    print(i)
    a.remove(i)

a
c
e

In [ ]:
# b  , d is not printed bcoz of index shift .