# Tuple , Set and dictionary

- Tuple : A collection of different items in a bag (bag can't be changed once packed) => immutable
- Set : A collection of different items in a box (box can be changed but items can't be repeated) => unique items
- Dictionary : A collection of different items in a box with their price tag (box can be changed and items can't be repeated since each item has a unique price tag)  => key value pair

Real world application :
- Tuple : Storing the coordinates of a point (x,y) => (2,3)
- Set : Storing the unique roll numbers of students in a class => {1,2,3,4,5}
- Dictionary : Storing the name and age of students in a class => {"Rahul" : 20 , "vaibav" : 21}

# Tuples
- ordered collection of elements
- `immutable` (can't be changed once created)
- allows duplicate elements , that is not the case with set and dictionary .

## Topics to be covered
- Creation of tuple
- Accessing elements
- Editing tuple
- Adding items
- Deleting items
- Operations on tuple
- Basic in-built functions

### Creation of tuple
- using parenthesis `()`
- using `tuple()` function
- using comma `,` separated values

In [2]:
# Creating an empty tuple
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [4]:
# Creating a tuple with single element
t1 = (5)
print(t1)
print(type(t1))
# it will be considered as an integer not a tuple , so to create a tuple with single element we need to add a comma after the element
t2 = (5,)
print(t2)
print(type(t2))

5
<class 'int'>
(5,)
<class 'tuple'>

In [5]:
# Homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)

(1, 2, 3, 4, 5)

In [8]:
# Heterogeneous tuple
t4 = (1,2.5,True,"Ritesh")
print(t4)

(1, 2.5, True, 'Ritesh')

In [9]:
# 2D tuple
t5 = ((1,2,3) , (4,5,6) , (7,8,9))
print(t5)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [12]:
# using tuple() function

# empty tuple
t6 = tuple()
print(t6)
print(type(t6))

# tuple with elements
t7 = tuple([1,2,3,'hello',5])
print(t7)
print(type(t7))

()
<class 'tuple'>
(1, 2, 3, 'hello', 5)
<class 'tuple'>

In [14]:
# using comma separated values
t8 = 1,2,3,4,5,'adam'
print(t8)
print(type(t8))

(1, 2, 3, 4, 5, 'adam')
<class 'tuple'>

### Accessing elements
- using indexing
- using slicing

In [15]:
# Accessing elements using indexing
t = (1,2.5,True,"Ritesh")
print(t[0])  # first element
print(t[-1]) # last element

1
Ritesh

In [17]:
t2 = ((1,2,3) , (4,5,6) , (7,8,9))
print(t2[0])    # first element (which is a tuple)
print(t2[0][1]) # second element of the first tuple

(1, 2, 3)
2

In [16]:
# Accessing elements using slicing
t = (1,2.5,True,"Ritesh", 45, 67, 89)
print(t[1:5])  # elements from index 1 to 4
print(t[:4])   # elements from start to index 3
print(t[3:])   # elements from index 3 to end
print(t[::-1]) # elements in reverse order

(2.5, True, 'Ritesh', 45)
(1, 2.5, True, 'Ritesh')
('Ritesh', 45, 67, 89)
(89, 67, 45, 'Ritesh', True, 2.5, 1)

### Editing tuple
- since tuple is immutable we can't change its elements directly
- we can convert the tuple to a list , make the changes and then convert it back to a tuple

In [21]:
t3
# t3[0] = 10    # this will give an error

(1, 2, 3, 4, 5)

In [24]:
# converting tuple to list
l = list(t3)
print(l)
print(type(l))
# now we can make changes to the list
l[0] = 10
print(l)
print(type(l))
# converting list back to tuple
t3 = tuple(l)
print(t3)
print(type(t3))

[10, 2, 3, 4, 5]
<class 'list'>
[10, 2, 3, 4, 5]
<class 'list'>
(10, 2, 3, 4, 5)
<class 'tuple'>

### Adding items
- since tuple is immutable we can't add items directly
- we can convert the tuple to a list , add the items and then convert it back to a tuple

In [25]:
print(t3)
# no function to add items directly to a tuple

(10, 2, 3, 4, 5)

In [ ]:
# converting tuple to list
l = list(t3)
print(l)
print(type(l))
# now we can add items to the list
l.append(6)
l.append(7)
print(l)
print(type(l))
# converting list back to tuple
t3 = tuple(l)
print(t3)
print(type(t3))

### Deleting items
- since tuple is immutable we can't delete items directly
- we can convert the tuple to a list , delete the items and then convert it back to a tuple
- we can delete the entire tuple using `del` keyword

In [27]:
del (t3)

In [31]:
# t3 # this will give an error since t3 is deleted

### Operations on tuple
- `concatenation( + )`
- `repetition( * )`
- `membership ( in , not in )`
- `iteration (looping)`

In [32]:
# Concatenation
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [33]:
# Repetition
t4 = t1 * 3
print(t4)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
# membership
print(2 in t1)      # True
print(3 not in t1)  # False

True
False

In [36]:
# iteration
for i in t3 :
    print(i)

1
2
3
4
5
6

### Basic in-built functions

In [38]:
# len/sum/max/min/sorted/all/any/tuple
t = (1,2,3,4,3,3,3,5,9,7,45)
print(len(t))    # length of tuple
print(sum(t))    # sum of elements , only for numeric tuples
print(max(t))    # maximum element
print(min(t))    # minimum element
print(sorted(t)) # sorted tuple (Returns a list)
print(all(t))    # returns True if all elements are true
print(any(t))    # returns True if any element is true

11
85
45
1
[1, 2, 3, 3, 3, 3, 4, 5, 7, 9, 45]
True
True
2
4

In [44]:
# Count and Index
print(t.index(3)) # index of first occurrence of 3
print(t.count(99))  # count of occurrences of 99 (not present)

print(t.count(3)) # count of occurrences of 3
print(t.count(50)) # count of occurrences of 50 (not present)

2
0
4
0

### Difference between list and tuple
- List is mutable , tuple is immutable
- List uses more memory , tuple uses less memory because of immutability
- List has more in-built functions , tuple has limited in-built functions
- List is slower , tuple is faster because of immutability
- List is used when we need to change the data , tuple is used when we need to store constant data
- List is defined using square brackets `[]` , tuple is defined using parenthesis `()`
- List are error prone , tuple are less error prone because of immutability .

In [45]:
# Memory consumption comparison
import sys
l = [1,2,3,4,5,6,7,8,9,10]
t = (1,2,3,4,5,6,7,8,9,10)
print(sys.getsizeof(l)) # size of list in bytes
print(sys.getsizeof(t)) # size of tuple in bytes

136
120

In [ ]:
# Time consumption comparison
import time
l = list(range(1000000000))
t = tuple(range(1000000000))

start = time.time()
for i in l :
    i*5
print("Time taken by list : ", time.time() - start)

start = time.time()
for i in t :
    i*5
print("Time taken by tuple : ", time.time() - start)

Generally immutable entities are faster and use less memory because they are fixed in size and structure. Mutable entities can change in size and structure, which requires additional memory management and overhead.

In [3]:
# error prone
a = [1,2,3,4,5]
b = a
a.append(6)
print(a)  # [1, 2, 3, 4, 5, 6]
print(b)  # [1, 2, 3, 4, 5, 6] , b is also changed because both a and b are pointing to the same list in memory

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [2]:
a = (1,2,3,4,5)
b = a
a = a + (6,)
print(a)  # (1, 2, 3, 4, 5 , 6)
print(b)  # (1, 2, 3, 4, 5) , b is not changed because a is now pointing to a new tuple in memory

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)

### Special Syntax

`Tuple unpacking`
- assigning values of a tuple to multiple variables in a single statement
- the number of variables must be equal to the number of elements in the tuple
- can be used in functions to return multiple values

In [4]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [6]:
# a,b = (1,2,3)
# this will give an error because the number of variables is not equal to the number of elements in the tuple

In [7]:
# swapping of two variables
a = 54
b = 32
a,b = b,a
print(a,b)

32 54

`*others`
- used to assign multiple values to a single variable during tuple unpacking
- the variable with * will be a list containing all the values assigned to it
- can be used to ignore multiple values during tuple unpacking

In [8]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a)        # 1
print(b)        # 2
print(others)   # [3, 4, 5, 6, 7, 8, 9]

1
2
[3, 4, 5, 6, 7, 8, 9]

In [9]:
a,*b = (1,2,3,4,5,6,7,8,9)
print(a)        # 1
print(b)        # [2, 3, 4, 5, 6 , 7, 8, 9]

1
[2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# Zipping tuples
names = ("Ritesh" , "Vaibhav" , "Rahul")
ages = (20 , 22 , 21)
combined = zip(names, ages)
print(tuple(combined))

(('Ritesh', 20), ('Vaibhav', 22), ('Rahul', 21))

### Tuple Comprehension

In [11]:
# it also creates a generator object like list comprehension
t = (i*i for i in range(10))
print(t)
print(type(t))

<generator object <genexpr> at 0x0000012FF5967E00>
<class 'generator'>

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

**Characteristics:**
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [12]:
# 2D set is not possible since set is an unordered collection of unique elements and it can't contain mutable data types like list or set itself.

## Creation of set
- using curly braces `{}`
- using `set()` function
- using comma `,` separated values

In [16]:
# Creating an empty set
s = {}
print(s)
print(type(s)) # this will give a dictionary since {} is used to represent both set and dictionary
s = set()
print(s)
print(type(s)) # this will give a set

{}
<class 'dict'>
set()
<class 'set'>

In [18]:
# 1D and 2D set
s1 = {1,2,3,4,5}
print(s1)
# s2 = {{1,2,3} , {4,5,6}}
# print(s2) # this will give an error since set can't contain mutable data types like list or set itself

{1, 2, 3, 4, 5}

In [23]:
# Duplicate elements
s2 = {1,2,3,4,5,2,3,4,5}
print(s2) # this will print {1, 2, 3, 4, 5} since set doesn't allow duplicate elements

{1, 2, 3, 4, 5}

In [20]:
# heterogeneous set
s3 = {1,2.5,True,"Ritesh"}  # here we get 1 and True are same since both are considered as 1 in set , so only one will be stored .
print(s3)

{'Ritesh', 2.5, 1}

Why order is not maintained in set ?
- Sets are implemented using hash tables. When an element is added to a set, its hash value is computed, and this hash value determines where the element is stored in memory. This process does not guarantee any specific order of elements.

**Since sets are unordered, they do not support indexing or slicing like lists or tuples. You cannot access elements by their position because there is no defined order.**

In [24]:
# using set() function
s4 = set([1,2,3,4,5,'hello',2,3,4])
print(s4)

{1, 2, 3, 4, 5, 'hello'}

In [25]:
# using comma separated values
s5 = 1,2,3,4,5,'adam',2,3,4
s5 = set(s5)
print(s5)
print(type(s5))

{1, 2, 3, 4, 5, 'adam'}
<class 'set'>

In [26]:
# can't have mutable data types like list or set itself
# s6 = {1,2,[3,4,5]} # this will give an error
# s7 = {1,2,{3,4,5}} # this will give an error

In [28]:
# unordered nature
s1 = {1,2,3,4,5}
s2 = {5,4,3,2,1}
print(s1 == s2) # True , since both sets have same elements
# this also shows that order is not maintained in set

True

## Accessing elements
- since set is unordered we can't access elements using indexing or slicing

In [ ]:
s = {1,2,3,4,5}
s[0] # this will give an error since set is unordered and doesn't support indexing
s[::-1] # this will also give an error since set is unordered and doesn't support slicing

### Adding items
- using `add()` function to add a single element
- using `update()` function to add multiple elements

In [31]:
# adding single element
s = {1,2,3}
s.add(4)
print(s)
s.add(2) # adding duplicate element
print(s) # set remains unchanged since duplicate elements are not allowed

{1, 2, 3, 4}
{1, 2, 3, 4}

In [32]:
# adding multiple elements
s.update([5,6,7])
print(s)
s.update((8,9,10))
print(s)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Deleting items

- using `del` keyword to delete the entire set or using indexing to delete a specific element (not possible since set is unordered)
- using `discard()` function to remove a specific element (doesn't raise error if element not found)
- using `remove()` function to remove a specific element (raises error if element not found)
- using `pop()` function to remove and return an arbitrary element
- using `clear()` function to remove all elements

In [ ]:
# del
s = {1,2,3,4,5}
del(s)
# print(s) # this will give an error since s is deleted

t = {1,2,3,4,5}
#del(t[0]) # this will give an error since set doesn't support indexing so we can't delete a specific element using indexing

In [35]:
# Discard
s = {1,2,3,4,5}
s.discard(3)
print(s)
s.discard(10) # removing an element not present in the set
print(s) # set remains unchanged since discard doesn't raise error if element not found

{1, 2, 4, 5}
{1, 2, 4, 5}

In [40]:
# remove
s = {1,2,3,4,5}
s.remove(2)
print(s)
#s.remove(10)
# s.remove(10) # this will give an error since remove raises error if element not found

{1, 3, 4, 5}

In [44]:
# pop
s = {1,2,3,4,5}
x = s.pop()
print(x) # arbitrary element removed
print(s)

1
{2, 3, 4, 5}

In [45]:
# clear
s = {1,2,3,4,5}
s.clear()
print(s) # empty set

set()

## Set Operations

- Union ( | ) : Combines all unique elements from both sets.
- Intersection ( & ) : Retrieves only the elements that are present in both sets.
- Difference ( - ) : Gets elements that are in the first set but not in the second.
- Symmetric Difference ( ^ ) : Gets elements that are in either of the sets but not in both.
- Membership (in, not in) : Checks if an element is present in the set.
- Iteration : Looping through each element in the set.
- Subset (issubset()) : Checks if all elements of one set are in another set.
- Superset (issuperset()) : Checks if a set contains all elements of another set.
- disjoint (isdisjoint()) : Checks if two sets have no elements in common.

In [50]:
# Creating two sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [51]:
# Union
print("Union : ", A | B)  # {1, 2, 3, 4, 5, 6, 7, 8}
print("Union using function : ", A.union(B))  # {1, 2, 3, 4, 5, 6, 7, 8}

Union :  {1, 2, 3, 4, 5, 6, 7, 8}
Union using function :  {1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
# Intersection
print("Intersection : ", A & B)  # {4, 5}
print("Intersection using function : ", A.intersection(B))  # {4, 5}

Intersection :  {4, 5}
Intersection using function :  {4, 5}

In [53]:
# Difference
print("Difference (A - B) : ", A - B)  # {1, 2, 3}
print("Difference (B - A) : ", B - A)  # {6, 7, 8}
print("Difference using function (A - B) : ", A.difference(B))  # {1, 2, 3}
print("Difference using function (B - A) : ", B.difference(A))  # {6, 7, 8}

Difference (A - B) :  {1, 2, 3}
Difference (B - A) :  {8, 6, 7}
Difference using function (A - B) :  {1, 2, 3}
Difference using function (B - A) :  {8, 6, 7}

In [54]:
# Symmetric Difference
print("Symmetric Difference : ", A ^ B)  # {1, 2, 3, 6, 7, 8}
print("Symmetric Difference using function : ", A.symmetric_difference(B))  # {1, 2, 3, 6, 7, 8}

Symmetric Difference :  {1, 2, 3, 6, 7, 8}
Symmetric Difference using function :  {1, 2, 3, 6, 7, 8}

In [55]:
# Membership
print("Is 3 in A? ", 3 in A)  # True
print("Is 6 not in A? ", 6 not in A)  # True

Is 3 in A?  True
Is 6 not in A?  True

In [56]:
# Iteration
print("Elements in A:")
for elem in A:
    print(elem)

Elements in A:
1
2
3
4
5

In [57]:
# Subset
C = {1, 2}
print("Is C a subset of A? ", C.issubset(A))  # True
print("Is A a subset of B? ", A.issubset(B))  # False

Is C a subset of A?  True
Is A a subset of B?  False

In [58]:
# Superset
print("Is A a superset of C? ", A.issuperset(C))  # True
print("Is B a superset of A? ", B.issuperset(A))  # False

Is A a superset of C?  True
Is B a superset of A?  False

In [63]:
# disjoint
D = {9, 10}
print("Are A and D disjoint? ", A.isdisjoint(D))  # True
E = {5, 6}
print("Are A and E disjoint? ", A.isdisjoint(E))  # False

Are A and D disjoint?  True
Are A and E disjoint?  False

### Basic in-built functions

In [59]:
# len/max/min/sorted/sum
s = {1,2,3,4,5}
print(len(s))    # length of set
print(max(s))    # maximum element
print(min(s))    # minimum element
print(sorted(s)) # sorted set (Returns a list)
print(sum(s))    # sum of elements , only for numeric sets

5
5
1
[1, 2, 3, 4, 5]
15

`update() vs union()`
- `update()` modifies the original set in place by adding elements from another set or iterable.
- `union()` creates a new set that contains all unique elements from both sets without modifying the original sets.

In [60]:
# update()
s1 = {1,2,3}
s2 = {4,5,6}
s1.update(s2)
print("After update, s1:", s1)  # s1 is modified to include elements of s2
print("s2 remains unchanged:", s2)  # s2 remains unchanged

After update, s1: {1, 2, 3, 4, 5, 6}
s2 remains unchanged: {4, 5, 6}

In [61]:
# union()
s3 = {1,2,3}
s4 = {4,5,6}
s5 = s3.union(s4)
print("s3 remains unchanged:", s3)  # s3 remains unchanged
print("s4 remains unchanged:", s4)  # s4 remains unchanged
print("New set s5 (union of s3 and s4):", s5)  # s5 is a new set containing elements of both s3 and s4

s3 remains unchanged: {1, 2, 3}
s4 remains unchanged: {4, 5, 6}
New set s5 (union of s3 and s4): {1, 2, 3, 4, 5, 6}

`intersection_update() vs intersection()`
- `intersection_update()` modifies the original set in place to keep only elements that are also in another set.
- `intersection()` creates a new set that contains only elements that are present in both sets without modifying the original sets.

In [62]:
# intersection_update()
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection_update(s2)
print("After intersection_update, s1:", s1)  # s1 is modified to include only elements also in s2
print("s2 remains unchanged:", s2)  # s2 remains unchanged

After intersection_update, s1: {4, 5}
s2 remains unchanged: {4, 5, 6, 7, 8}

Same way for difference_update() and symmetric_difference_update()

`copy()`
- creates a shallow copy of the set
- changes made to the copied set do not affect the original set

In [64]:
s1 = {1,2,3}
s2 = s1.copy()
s2.add(4)
print("Original set s1:", s1)  # s1 remains unchanged
print("Copied set s2 after adding 4:", s2)  # s2 has the new element

Original set s1: {1, 2, 3}
Copied set s2 after adding 4: {1, 2, 3, 4}

### frozenset
- immutable version of a set
- once created, elements cannot be added or removed
- supports all set operations except those that modify the set (like add, remove, clear, update)

In [65]:
# Creating a frozenset
fs = frozenset([1,2,3,4,5])
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [66]:
# All read-only operations are allowed like union, intersection, difference, symmetric difference
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
print("Union:", fs1 | fs2)  # {1, 2, 3, 4, 5}
print("Intersection:", fs1 & fs2)  # {3}
print("Difference (fs1 - fs2):", fs1 - fs2)  # {1, 2}
print("Symmetric Difference:", fs1 ^ fs2)  # {1, 2, 4, 5}

Union: frozenset({1, 2, 3, 4, 5})
Intersection: frozenset({3})
Difference (fs1 - fs2): frozenset({1, 2})
Symmetric Difference: frozenset({1, 2, 4, 5})

In [67]:
 # issubset , issuperset , isdisjoint
fs3 = frozenset([1,2])
print("Is fs3 a subset of fs1? ", fs3.issubset(fs1))  # True
print("Is fs1 a superset of fs3? ", fs1.issuperset(fs3))  # True
fs4 = frozenset([6,7])
print("Are fs1 and fs4 disjoint? ", fs1.isdisjoint(fs4))  # True

Is fs3 a subset of fs1?  True
Is fs1 a superset of fs3?  True
Are fs1 and fs4 disjoint?  True

functions like add , remove , discard , pop , clear , update , intersection_update , difference_update , symmetric_difference_update are not available for frozenset

**2D frozensets are possible because frozensets are immutable and can contain other frozensets as elements.**

In [72]:
fs = frozenset([frozenset([1,2,3]) , frozenset([4,5,6])])
fs

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

In [73]:
# Accessing elements
for i in fs :
    print(i)

frozenset({1, 2, 3})
frozenset({4, 5, 6})

## Set Comprehension
- similar to list comprehension but creates a set instead of a list
- syntax: `{expression for item in iterable if condition}`

In [76]:
{i*i for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of keys and values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or associative arrays.

Example:
```python
dict = { 'name': 'Ritesh', 'age': 20, 'gender': 'male' }
```

**Characteristics:**
- Mutable
- Indexing has no meaning
- Keys can't be duplicated
- Keys can't be mutable items

## Creation of dictionary
- using curly braces `{}`
- using `dict()` function
- using comma `,` separated key:value pairs
- using `fromkeys()` function

In [77]:
# Creating an empty dictionary
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [79]:
# 1D dictionary
d1 = {'name': 'Ritesh', 'age': 20}
print(d1)

{'name': 'Ritesh', 'age': 20}

In [81]:
# mixed keys and values
d2 = {(1,2,3): 'tuple_key', 45: 'int_key', 67.89: 'float_key', True: 'bool_key', 'list_key': [1,2,3], 'set_key': {4,5,6}, 'dict_key': {'a': 1, 'b': 2}}
print(d2)

{(1, 2, 3): 'tuple_key', 45: 'int_key', 67.89: 'float_key', True: 'bool_key', 'list_key': [1, 2, 3], 'set_key': {4, 5, 6}, 'dict_key': {'a': 1, 'b': 2}}

In [ ]:
d3 = { [1,2] : "tuple" , 45 : "int" , 67.89 : "float" , True : "bool" } # this will give an error since list is a mutable item and can't be used as a key

In [86]:
# 2D dictionary : Json follow this structure
s = {
    'name': 'Ritesh',
    'college': 'ABC',
    'marks': {
        'maths': 95,
        'science': 90,
        'english': 85
    },
    'age': 20,
    'year': 2025
}
s

{'name': 'Ritesh',
 'college': 'ABC',
 'marks': {'maths': 95, 'science': 90, 'english': 85},
 'age': 20,
 'year': 2025}

In [87]:
# using dict() function
d4 = dict([('name', 'Ritesh'), ('age', 20)])
print(d4)

{'name': 'Ritesh', 'age': 20}

In [89]:
# using comma separated key:value pairs
d5 = 'name', 'Ritesh', 'age', 20
d5 = dict([ (d5[i], d5[i+1]) for i in range(0, len(d5), 2) ])
print(d5)

{'name': 'Ritesh', 'age': 20}

In [90]:
# using fromkeys() function
keys = ['name', 'age', 'year']
d6 = dict.fromkeys(keys, 'Ritesh')
print(d6)

{'name': 'Ritesh', 'age': 'Ritesh', 'year': 'Ritesh'}

In [91]:
# if value is not provided then it will be None by default
d7 = dict.fromkeys(keys)
print(d7)

{'name': None, 'age': None, 'year': None}

**Dictionary keys can't be duplicate since they are used to access the values. If duplicate keys are used, the last occurrence will overwrite the previous ones.**

In [94]:
d8 = {'name': 'Ritesh', 'age': 20, 'name': 'Rahul'}
print(d8) # {'name': 'Rahul', 'age': 20} ==> 'name' key is duplicated, so the last value 'Rahul' overwrites 'Ritesh'

{'name': 'Rahul', 'age': 20}

**mutable items like list or set can't be used as keys since they can be changed after creation, which would make it impossible to reliably access the associated value. Immutable items like strings, numbers, and tuples can be used as keys.**

In [ ]:
d9 = { [1,2,3] : "list_key" , {4,5,6} : "set_key" } # this will give an error since list and set are mutable items and can't be used as keys

In [97]:
d10 = {5:'hello',4:'world',3:'python',2:'is',1:'great'}
d10

{5: 'hello', 4: 'world', 3: 'python', 2: 'is', 1: 'great'}

Dictionary is an unordered collection of items so the order of items may not be the same as the order in which they were added.

## Accessing elements
- using keys
- using `get()` function
- using `items()`, `keys()`, `values()` functions

In [112]:
d11 = {'name': 'Ritesh', 'age': 20, 'college': 'ABC'}
# []
print(d11['name'])  # accessing value using key

# get()
print(d11.get('age'))  # accessing value using get() function

# items()
print(d11.items())  # returns a view object of key-value pairs

# keys()
print(d11.keys())  # returns a view object of keys

# values()
print(d11.values())  # returns a view object of values

Ritesh
20
dict_items([('name', 'Ritesh'), ('age', 20), ('college', 'ABC')])
dict_keys(['name', 'age', 'college'])
dict_values(['Ritesh', 20, 'ABC'])

## Adding items ( key-value pairs)

In [113]:
d11

{'name': 'Ritesh', 'age': 20, 'college': 'ABC'}

In [114]:
d11['year'] = 2025  # adding a new key-value pair
d11

{'name': 'Ritesh', 'age': 20, 'college': 'ABC', 'year': 2025}

### Removing items ( key-value pairs)
- `pop()` function to remove a specific key-value pair
- `popitem()` function to remove and return last inserted key-value pair
- `del` keyword to delete a specific key-value pair or the entire dictionary
- `clear()` function to remove all key-value pairs

In [108]:
# pop()
d11.pop('age')  # removing key-value pair with key 'age'
d11

{'name': 'Ritesh', 'college': 'ABC', 'year': 2025}

In [109]:
# popitem()
a = d11.popitem()  # removing and returning an arbitrary key-value pair
print(a)
d11

('year', 2025)

{'name': 'Ritesh', 'college': 'ABC'}

In [115]:
# del
del d11['college']  # deleting key-value pair with key 'college'
d11

# or delete entire dictionary
del d11
# print(d11) # this will give an error since d11 is deleted

{'name': 'Ritesh', 'age': 20, 'year': 2025}

In [116]:
# clear()
d12 = {'name': 'Ritesh', 'age': 20, 'college': 'ABC'}
d12.clear()  # removing all key-value pairs
print(d12)  # empty dictionary

{}

### Accessing nested dictionary

In [117]:
s = {
    'name': 'Ritesh',
    'college': 'ABC',
    'marks': {
        'maths': 95,
        'science': 90,
        'english': 85
    },
    'age': 20,
    'year': 2025
}
# accessing nested dictionary
print(s['marks'])          # entire marks dictionary
print(s['marks']['maths']) # marks in maths

{'maths': 95, 'science': 90, 'english': 85}
95

### Adding items to nested dictionary

In [118]:
s['marks']['history'] = 88  # adding history marks
print(s)

{'name': 'Ritesh', 'college': 'ABC', 'marks': {'maths': 95, 'science': 90, 'english': 85, 'history': 88}, 'age': 20, 'year': 2025}

### Removing items from nested dictionary

In [119]:
s

{'name': 'Ritesh',
 'college': 'ABC',
 'marks': {'maths': 95, 'science': 90, 'english': 85, 'history': 88},
 'age': 20,
 'year': 2025}

In [120]:
s['marks'].pop('science')  # removing science marks
print(s)

{'name': 'Ritesh', 'college': 'ABC', 'marks': {'maths': 95, 'english': 85, 'history': 88}, 'age': 20, 'year': 2025}

In [121]:
del s['marks']['english']  # deleting english marks
print(s)

{'name': 'Ritesh', 'college': 'ABC', 'marks': {'maths': 95, 'history': 88}, 'age': 20, 'year': 2025}

### Editing items

In [122]:
s

{'name': 'Ritesh',
 'college': 'ABC',
 'marks': {'maths': 95, 'history': 88},
 'age': 20,
 'year': 2025}

In [124]:
s['name'] = 'Rahul'  # changing name
s['marks']['maths'] = 98  # changing maths marks
print(s)

{'name': 'Rahul', 'college': 'ABC', 'marks': {'maths': 98, 'history': 88}, 'age': 20, 'year': 2025}

`Always remember that in dictionary all we care about is keys since they are used to access the values.`

## Dictionary Operations
- Membership (in, not in) : Checks if a key is present in the dictionary.
- Iteration : Looping through each key-value pair in the dictionary.
- Merging (update()) : Merges another dictionary into the current dictionary.

In [125]:
s

{'name': 'Rahul',
 'college': 'ABC',
 'marks': {'maths': 98, 'history': 88},
 'age': 20,
 'year': 2025}

In [126]:
'age' in s  # checking if 'age' key is present in the dictionary

True

works only for keys not for values.|

In [2]:
t = ()
type(t)

tuple

In [3]:
l = []
type(l)

list

In [17]:
t1 = (12,2.24,True,"hii")
l1 = [12,2.24,True,"hii"]
t[0]

12

In [18]:
t1[0:4]

(12, 2.24, True, 'hii')

In [19]:
t1[-1]

'hii'

In [20]:
t1[::-1]

('hii', True, 2.24, 12)

In [23]:
l1[0] = "ritesh"
l1

['ritesh', 2.24, True, 'hii']

In [ ]:
# we can do this sice list is a mutable entity .

In [29]:
t1[0] = "ritesh"
t1

TypeError: 'tuple' object does not support item assignment

In [30]:
t1

(12, 2.24, True, 'hii')

In [46]:
t2 = (897 , 786 ,997 ,744 ,786 , 786 , 786)
t1 + t2

(12, 2.24, True, 'hii', 897, 786, 997, 744, 786, 786, 786)

In [47]:
t2*2

(897, 786, 997, 744, 786, 786, 786, 897, 786, 997, 744, 786, 786, 786)

In [48]:
997 in t2

True

In [49]:
max(t2)

997

In [50]:
t3 = ("kjwdq" , "wjsh" , "ouqg", "kheq")
max(t3)

'wjsh'

In [51]:
t2.index(786)

1

In [52]:
# only count() and index() funnctions are available for a tuple .

In [53]:
t2.count(786)

4

In [54]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'bool'

In [55]:
min(t2)

744

In [56]:
min(t3)

'kheq'

In [57]:
# converting a tuple to a list to use its vast in-built function like insert , find ....

In [58]:
t1

(12, 2.24, True, 'hii')

In [65]:
LL = list(t1)
print(LL)
type(LL)

[12, 2.24, True, 'hii']

list

In [63]:
x = 561
LL.insert(-1,x)
LL

[12, 2.24, True, 561, 561, 'hii']

In [68]:
LL = tuple(LL)
type(LL)

tuple

In [82]:
T = ((12,32,4,5,6) , ("sdsf" ,32 ,"sdf") , (2132.32 , 32.44, True) , 23 , 222, 323 ,223 ,[65,45,3,45])
T[2][2]

True

In [84]:
T[7][0:4]

[65, 45, 3, 45]

In [86]:
T = ((12,32,4,5,6) , ("sdsf" ,32 ,"sdf") , (2132.32 , 32.44, True) , 23 , 222, 323 ,223)
for i in T :
    if type(i) is tuple :
        print(i[0])

12
sdsf
2132.32

In [89]:
del(T)
T

NameError: name 'T' is not defined

In [90]:
# Sets
# unordered collection of unique elements

In [92]:
x = set()
type(x)

set

In [100]:
ll = [2,3,4,3,2,3,2,3,3,3,3,"ritesh","hiii","Ritesh","hello","hiii","ritesh","hello"]
s = set(l)
s

{2, 3, 4, 'Ritesh', 'hello', 'hiii', 'ritesh'}

In [101]:
for i in s :
    print(i)

hello
2
3
4
Ritesh
hiii
ritesh

In [102]:
2 in s

True

In [104]:
s[0]

TypeError: 'set' object is not subscriptable

In [121]:
s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
s1.add(4)
s1.add(5)
s1.add("Ritesh")
s1.add("Swami")
s1

{1, 2, 3, 4, 5, 'Ritesh', 'Swami'}

In [122]:
s1.add([9,8,7])

TypeError: unhashable type: 'list'

In [123]:
# since set requires flat data for comparison of unique elements so list can't be added directly , firstly separate each element and then add .

In [124]:
s1.remove(5)
s1

{1, 2, 3, 4, 'Ritesh', 'Swami'}

In [125]:
4 in s1

True

In [126]:
s.clear()

In [127]:
s

set()

In [137]:
s2 = set()
s2.add(13)
s2.add(254)
s2.add(36)
s2.add(42)
s2.add(51)
s2.add("Ritesh")
s2.add("Swami")

s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
s1.add(4)
s1.add(5)
s1.add("R")
s1.add("S")

s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [138]:
s2*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [141]:
l5 = list(s2)
l5

[36, 42, 13, 'Swami', 51, 'Ritesh', 254]

In [142]:
l5.append(13)
l5

[36, 42, 13, 'Swami', 51, 'Ritesh', 254, 13]

In [143]:
t5 = tuple(s2)
t5

(36, 42, 13, 'Swami', 51, 'Ritesh', 254)

In [144]:
# Dictionary
# it stores data in the form of key value pair .

In [145]:
x = {}
type(x)

dict

In [146]:
y = {12,32,32}
type(y)

set

In [1]:
# so "{}" is used to represent both a dictionary and a set , by default it is a dictionary (when {} are empty ) .

In [41]:
x = {"Name" : "Ritesh" , "Subject" : "Python" , True : 1 , 355 : 675 , 786.79 : 865 , "Name" : "Rishu" , 45 : {75, 75 ,867 ,7} , 67 : (64 , 757, 675,86) , "yrftyd" : [4,5,97,75] , 5656 : {1 : "asa" , "ead" : "adad" , 131.12 : [1,2,3,4,5,9,8]}}
print(x)
print(type(x))

{'Name': 'Rishu', 'Subject': 'Python', True: 1, 355: 675, 786.79: 865, 45: {75, 867, 7}, 67: (64, 757, 675, 86), 'yrftyd': [4, 5, 97, 75], 5656: {1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]}}
<class 'dict'>

In [42]:
# so the key can be string , char , int , float , boolean .
# since key is always unique so in case of repeatition the key will update its value with the latest one (rightmost)
# a value can be  string , char , int , float , boolean , list , tuple , set and dictionary .

In [43]:
x1 = { _31: "Python" }
#x2 = { $: "Python" }
print(x1)
#print(x2)

{'{"dataframes": [], "user": "RITESH"}': 'Python'}

In [44]:
# so the key can't be an special character  ,  list . 
# tuples can be used as a key .

In [45]:
l = [1,2,4,5,6]
l[2]

4

In [46]:
x["Name"]

'Rishu'

In [47]:
x["Subject"]

'Python'

In [48]:
# Question
# extract 86 from the value whose key is 67 and value is an tuple .
x[67][3]

86

In [51]:
x[5656][131.12][5]

9

In [52]:
p = {"a" : 323 , "b" : 31 , "c" : 231}
q = {3 : 333 , "boy" : 5631 , "cat" : 2231}
p+q

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [54]:
p*3
# doesn't work since keys are always unique .

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [55]:
p

{'a': 323, 'b': 31, 'c': 231}

In [62]:
p["c"] = "Ritesh"
p["b"] = 6000
p["a"] -= 123
p

{'a': 200, 'b': 6000, 'c': 'Ritesh'}

In [63]:
# so dictionary is an mutable entity .

In [64]:
p.keys()

dict_keys(['a', 'b', 'c'])

In [65]:
"a" in p.keys()

True

In [66]:
for i in p :
    print(i)

a
b
c

In [67]:
# its only giving us the keys .

In [68]:
for i in p.keys() :
    print(p[i])

200
6000
Ritesh

In [69]:
for i in x.keys() :
    print(x[i])

Rishu
Python
1
675
865
{75, 867, 7}
(64, 757, 675, 86)
[4, 5, 97, 75]
{1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]}

In [71]:
for i in x.keys() :
    print(type(x[i]))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [74]:
x.items()

dict_items([('Name', 'Rishu'), ('Subject', 'Python'), (True, 1), (355, 675), (786.79, 865), (45, {75, 867, 7}), (67, (64, 757, 675, 86)), ('yrftyd', [4, 5, 97, 75]), (5656, {1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]})])

In [76]:
# extracting the keys from this list of tuples of key value pair .
for i in x.items() :
    print(i[0])

Name
Subject
True
355
786.79
45
67
yrftyd
5656

In [78]:
d = {(1,2,3,4,5) : "adef"}
d[(1,2,3,4,5)]

'adef'

In [80]:
len(x)

9

In [ ]:
# Question
# take a long para input then covert it into a list of words .
# remove all the duplicates then use these distinct elements as a key for dictionary 
# assign your name as value for all the keys in the dictionary
# print tuple of all the values .
# print list of all keys

In [2]:
para = input("Enter a paragraph : ")

lst1 = para.split(" ")
s1 = set(lst1)
dic1 = dict.fromkeys(s1,"Ritesh")
t1 = tuple(dic1.keys())
l1 = list(dic1.values())
print(t1)
print(l1)

Enter a paragraph :  hi hey hi hey how are you how hey their now what now

('how', 'are', 'hey', 'now', 'what', 'their', 'hi', 'you')
['Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh']

In [5]:
d = {"name" : "Ritesh" , "year" : 2025}
for i in d :
    if i == "year" :
        if d[i] > 2025 :
            print("year is fine !")
        else :
            d[i] = 2026

print(d)

{'name': 'Ritesh', 'year': 2026}

In [6]:
# Dictionary Comprehension

In [7]:
d = {}
for i in range(10) :
    d[i] = i*i
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
{i : i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [9]:
{i : i*i for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}