In [1]:
# Tuple , Set and dictionary

In [ ]:
# Tuples

In [2]:
t = ()
type(t)

tuple

In [3]:
l = []
type(l)

list

In [17]:
t1 = (12,2.24,True,"hii")
l1 = [12,2.24,True,"hii"]
t[0]

12

In [18]:
t1[0:4]

(12, 2.24, True, 'hii')

In [19]:
t1[-1]

'hii'

In [20]:
t1[::-1]

('hii', True, 2.24, 12)

In [23]:
l1[0] = "ritesh"
l1

['ritesh', 2.24, True, 'hii']

In [ ]:
# we can do this sice list is a mutable entity .

In [29]:
t1[0] = "ritesh"
t1

TypeError: 'tuple' object does not support item assignment

In [30]:
t1

(12, 2.24, True, 'hii')

In [46]:
t2 = (897 , 786 ,997 ,744 ,786 , 786 , 786)
t1 + t2

(12, 2.24, True, 'hii', 897, 786, 997, 744, 786, 786, 786)

In [47]:
t2*2

(897, 786, 997, 744, 786, 786, 786, 897, 786, 997, 744, 786, 786, 786)

In [48]:
997 in t2

True

In [49]:
max(t2)

997

In [50]:
t3 = ("kjwdq" , "wjsh" , "ouqg", "kheq")
max(t3)

'wjsh'

In [51]:
t2.index(786)

1

In [52]:
# only count() and index() funnctions are available for a tuple .

In [53]:
t2.count(786)

4

In [54]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'bool'

In [55]:
min(t2)

744

In [56]:
min(t3)

'kheq'

In [57]:
# converting a tuple to a list to use its vast in-built function like insert , find ....

In [58]:
t1

(12, 2.24, True, 'hii')

In [65]:
LL = list(t1)
print(LL)
type(LL)

[12, 2.24, True, 'hii']

list

In [63]:
x = 561
LL.insert(-1,x)
LL

[12, 2.24, True, 561, 561, 'hii']

In [68]:
LL = tuple(LL)
type(LL)

tuple

In [82]:
T = ((12,32,4,5,6) , ("sdsf" ,32 ,"sdf") , (2132.32 , 32.44, True) , 23 , 222, 323 ,223 ,[65,45,3,45])
T[2][2]

True

In [84]:
T[7][0:4]

[65, 45, 3, 45]

In [86]:
T = ((12,32,4,5,6) , ("sdsf" ,32 ,"sdf") , (2132.32 , 32.44, True) , 23 , 222, 323 ,223)
for i in T :
    if type(i) is tuple :
        print(i[0])

12
sdsf
2132.32

In [89]:
del(T)
T

NameError: name 'T' is not defined

In [90]:
# Sets
# unordered collection of unique elements

In [92]:
x = set()
type(x)

set

In [100]:
ll = [2,3,4,3,2,3,2,3,3,3,3,"ritesh","hiii","Ritesh","hello","hiii","ritesh","hello"]
s = set(l)
s

{2, 3, 4, 'Ritesh', 'hello', 'hiii', 'ritesh'}

In [101]:
for i in s :
    print(i)

hello
2
3
4
Ritesh
hiii
ritesh

In [102]:
2 in s

True

In [104]:
s[0]

TypeError: 'set' object is not subscriptable

In [121]:
s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
s1.add(4)
s1.add(5)
s1.add("Ritesh")
s1.add("Swami")
s1

{1, 2, 3, 4, 5, 'Ritesh', 'Swami'}

In [122]:
s1.add([9,8,7])

TypeError: unhashable type: 'list'

In [123]:
# since set requires flat data for comparison of unique elements so list can't be added directly , firstly separate each element and then add .

In [124]:
s1.remove(5)
s1

{1, 2, 3, 4, 'Ritesh', 'Swami'}

In [125]:
4 in s1

True

In [126]:
s.clear()

In [127]:
s

set()

In [137]:
s2 = set()
s2.add(13)
s2.add(254)
s2.add(36)
s2.add(42)
s2.add(51)
s2.add("Ritesh")
s2.add("Swami")

s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
s1.add(4)
s1.add(5)
s1.add("R")
s1.add("S")

s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [138]:
s2*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [141]:
l5 = list(s2)
l5

[36, 42, 13, 'Swami', 51, 'Ritesh', 254]

In [142]:
l5.append(13)
l5

[36, 42, 13, 'Swami', 51, 'Ritesh', 254, 13]

In [143]:
t5 = tuple(s2)
t5

(36, 42, 13, 'Swami', 51, 'Ritesh', 254)

In [144]:
# Dictionary
# it stores data in the form of key value pair .

In [145]:
x = {}
type(x)

dict

In [146]:
y = {12,32,32}
type(y)

set

In [1]:
# so "{}" is used to represent both a dictionary and a set , by default it is a dictionary (when {} are empty ) .

In [41]:
x = {"Name" : "Ritesh" , "Subject" : "Python" , True : 1 , 355 : 675 , 786.79 : 865 , "Name" : "Rishu" , 45 : {75, 75 ,867 ,7} , 67 : (64 , 757, 675,86) , "yrftyd" : [4,5,97,75] , 5656 : {1 : "asa" , "ead" : "adad" , 131.12 : [1,2,3,4,5,9,8]}}
print(x)
print(type(x))

{'Name': 'Rishu', 'Subject': 'Python', True: 1, 355: 675, 786.79: 865, 45: {75, 867, 7}, 67: (64, 757, 675, 86), 'yrftyd': [4, 5, 97, 75], 5656: {1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]}}
<class 'dict'>

In [42]:
# so the key can be string , char , int , float , boolean .
# since key is always unique so in case of repeatition the key will update its value with the latest one (rightmost)
# a value can be  string , char , int , float , boolean , list , tuple , set and dictionary .

In [43]:
x1 = { _31: "Python" }
#x2 = { $: "Python" }
print(x1)
#print(x2)

{'{"dataframes": [], "user": "RITESH"}': 'Python'}

In [44]:
# so the key can't be an special character  ,  list . 
# tuples can be used as a key .

In [45]:
l = [1,2,4,5,6]
l[2]

4

In [46]:
x["Name"]

'Rishu'

In [47]:
x["Subject"]

'Python'

In [48]:
# Question
# extract 86 from the value whose key is 67 and value is an tuple .
x[67][3]

86

In [51]:
x[5656][131.12][5]

9

In [52]:
p = {"a" : 323 , "b" : 31 , "c" : 231}
q = {3 : 333 , "boy" : 5631 , "cat" : 2231}
p+q

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [54]:
p*3
# doesn't work since keys are always unique .

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [55]:
p

{'a': 323, 'b': 31, 'c': 231}

In [62]:
p["c"] = "Ritesh"
p["b"] = 6000
p["a"] -= 123
p

{'a': 200, 'b': 6000, 'c': 'Ritesh'}

In [63]:
# so dictionary is an mutable entity .

In [64]:
p.keys()

dict_keys(['a', 'b', 'c'])

In [65]:
"a" in p.keys()

True

In [66]:
for i in p :
    print(i)

a
b
c

In [67]:
# its only giving us the keys .

In [68]:
for i in p.keys() :
    print(p[i])

200
6000
Ritesh

In [69]:
for i in x.keys() :
    print(x[i])

Rishu
Python
1
675
865
{75, 867, 7}
(64, 757, 675, 86)
[4, 5, 97, 75]
{1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]}

In [71]:
for i in x.keys() :
    print(type(x[i]))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [74]:
x.items()

dict_items([('Name', 'Rishu'), ('Subject', 'Python'), (True, 1), (355, 675), (786.79, 865), (45, {75, 867, 7}), (67, (64, 757, 675, 86)), ('yrftyd', [4, 5, 97, 75]), (5656, {1: 'asa', 'ead': 'adad', 131.12: [1, 2, 3, 4, 5, 9, 8]})])

In [76]:
# extracting the keys from this list of tuples of key value pair .
for i in x.items() :
    print(i[0])

Name
Subject
True
355
786.79
45
67
yrftyd
5656

In [78]:
d = {(1,2,3,4,5) : "adef"}
d[(1,2,3,4,5)]

'adef'

In [80]:
len(x)

9

In [ ]:
# Question
# take a long para input then covert it into a list of words .
# remove all the duplicates then use these distinct elements as a key for dictionary 
# assign your name as value for all the keys in the dictionary
# print tuple of all the values .
# print list of all keys

In [2]:
para = input("Enter a paragraph : ")

lst1 = para.split(" ")
s1 = set(lst1)
dic1 = dict.fromkeys(s1,"Ritesh")
t1 = tuple(dic1.keys())
l1 = list(dic1.values())
print(t1)
print(l1)

Enter a paragraph :  hi hey hi hey how are you how hey their now what now

('how', 'are', 'hey', 'now', 'what', 'their', 'hi', 'you')
['Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh', 'Ritesh']

In [5]:
d = {"name" : "Ritesh" , "year" : 2025}
for i in d :
    if i == "year" :
        if d[i] > 2025 :
            print("year is fine !")
        else :
            d[i] = 2026

print(d)

{'name': 'Ritesh', 'year': 2026}

In [6]:
# Dictionary Comprehension

In [7]:
d = {}
for i in range(10) :
    d[i] = i*i
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
{i : i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [9]:
{i : i*i for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}