# Tuple , Set and dictionary

- Tuple : A collection of different items in a bag (bag can't be changed once packed) => immutable
- Set : A collection of different items in a box (box can be changed but items can't be repeated) => unique items
- Dictionary : A collection of different items in a box with their price tag (box can be changed and items can't be repeated since each item has a unique price tag)  => key value pair

Real world application :
- Tuple : Storing the coordinates of a point (x,y) => (2,3)
- Set : Storing the unique roll numbers of students in a class => {1,2,3,4,5}
- Dictionary : Storing the name and age of students in a class => {"Rahul" : 20 , "vaibav" : 21}

# Tuples
- ordered collection of elements
- `immutable` (can't be changed once created)
- allows duplicate elements , that is not the case with set and dictionary .

## Topics to be covered
- Creation of tuple
- Accessing elements
- Editing tuple
- Adding items
- Deleting items
- Operations on tuple
- Basic in-built functions

### Creation of tuple
- using parenthesis `()`
- using `tuple()` function
- using comma `,` separated values

In [ ]:
# Creating an empty tuple
t = ()
print(t)
print(type(t))

In [ ]:
# Creating a tuple with single element
t1 = (5)
print(t1)
print(type(t1))
# it will be considered as an integer not a tuple , so to create a tuple with single element we need to add a comma after the element
t2 = (5,)
print(t2)
print(type(t2))

In [ ]:
# Homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)

In [ ]:
# Heterogeneous tuple
t4 = (1,2.5,True,"Ritesh")
print(t4)

In [ ]:
# 2D tuple
t5 = ((1,2,3) , (4,5,6) , (7,8,9))
print(t5)

In [ ]:
# using tuple() function

# empty tuple
t6 = tuple()
print(t6)
print(type(t6))

# tuple with elements
t7 = tuple([1,2,3,'hello',5])
print(t7)
print(type(t7))

In [ ]:
# using comma separated values
t8 = 1,2,3,4,5,'adam'
print(t8)
print(type(t8))

### Accessing elements
- using indexing
- using slicing

In [ ]:
# Accessing elements using indexing
t = (1,2.5,True,"Ritesh")
print(t[0])  # first element
print(t[-1]) # last element

In [ ]:
t2 = ((1,2,3) , (4,5,6) , (7,8,9))
print(t2[0])    # first element (which is a tuple)
print(t2[0][1]) # second element of the first tuple

In [ ]:
# Accessing elements using slicing
t = (1,2.5,True,"Ritesh", 45, 67, 89)
print(t[1:5])  # elements from index 1 to 4
print(t[:4])   # elements from start to index 3
print(t[3:])   # elements from index 3 to end
print(t[::-1]) # elements in reverse order

### Editing tuple
- since tuple is immutable we can't change its elements directly
- we can convert the tuple to a list , make the changes and then convert it back to a tuple

In [ ]:
t3
# t3[0] = 10    # this will give an error

In [ ]:
# converting tuple to list
l = list(t3)
print(l)
print(type(l))
# now we can make changes to the list
l[0] = 10
print(l)
print(type(l))
# converting list back to tuple
t3 = tuple(l)
print(t3)
print(type(t3))

### Adding items
- since tuple is immutable we can't add items directly
- we can convert the tuple to a list , add the items and then convert it back to a tuple

In [ ]:
print(t3)
# no function to add items directly to a tuple

In [ ]:
# converting tuple to list
l = list(t3)
print(l)
print(type(l))
# now we can add items to the list
l.append(6)
l.append(7)
print(l)
print(type(l))
# converting list back to tuple
t3 = tuple(l)
print(t3)
print(type(t3))

### Deleting items
- since tuple is immutable we can't delete items directly
- we can convert the tuple to a list , delete the items and then convert it back to a tuple
- we can delete the entire tuple using `del` keyword

In [ ]:
del (t3)

In [ ]:
# t3 # this will give an error since t3 is deleted

### Operations on tuple
- `concatenation( + )`
- `repetition( * )`
- `membership ( in , not in )`
- `iteration (looping)`

In [ ]:
# Concatenation
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

In [ ]:
# Repetition
t4 = t1 * 3
print(t4)

In [ ]:
# membership
print(2 in t1)      # True
print(3 not in t1)  # False

In [ ]:
# iteration
for i in t3 :
    print(i)

### Basic in-built functions

In [ ]:
# len/sum/max/min/sorted/all/any/tuple
t = (1,2,3,4,3,3,3,5,9,7,45)
print(len(t))    # length of tuple
print(sum(t))    # sum of elements , only for numeric tuples
print(max(t))    # maximum element
print(min(t))    # minimum element
print(sorted(t)) # sorted tuple (Returns a list)
print(all(t))    # returns True if all elements are true
print(any(t))    # returns True if any element is true

In [ ]:
# Count and Index
print(t.index(3)) # index of first occurrence of 3
print(t.count(99))  # count of occurrences of 99 (not present)

print(t.count(3)) # count of occurrences of 3
print(t.count(50)) # count of occurrences of 50 (not present)

### Difference between list and tuple
- List is mutable , tuple is immutable
- List uses more memory , tuple uses less memory because of immutability
- List has more in-built functions , tuple has limited in-built functions
- List is slower , tuple is faster because of immutability
- List is used when we need to change the data , tuple is used when we need to store constant data
- List is defined using square brackets `[]` , tuple is defined using parenthesis `()`
- List are error prone , tuple are less error prone because of immutability .

In [ ]:
# Memory consumption comparison
import sys
l = [1,2,3,4,5,6,7,8,9,10]
t = (1,2,3,4,5,6,7,8,9,10)
print(sys.getsizeof(l)) # size of list in bytes
print(sys.getsizeof(t)) # size of tuple in bytes

In [ ]:
# Time consumption comparison
import time
l = list(range(1000000000))
t = tuple(range(1000000000))

start = time.time()
for i in l :
    i*5
print("Time taken by list : ", time.time() - start)

start = time.time()
for i in t :
    i*5
print("Time taken by tuple : ", time.time() - start)

Generally immutable entities are faster and use less memory because they are fixed in size and structure. Mutable entities can change in size and structure, which requires additional memory management and overhead.

In [ ]:
# error prone
a = [1,2,3,4,5]
b = a
a.append(6)
print(a)  # [1, 2, 3, 4, 5, 6]
print(b)  # [1, 2, 3, 4, 5, 6] , b is also changed because both a and b are pointing to the same list in memory

In [ ]:
a = (1,2,3,4,5)
b = a
a = a + (6,)
print(a)  # (1, 2, 3, 4, 5 , 6)
print(b)  # (1, 2, 3, 4, 5) , b is not changed because a is now pointing to a new tuple in memory

### Special Syntax

`Tuple unpacking`
- assigning values of a tuple to multiple variables in a single statement
- the number of variables must be equal to the number of elements in the tuple
- can be used in functions to return multiple values

In [ ]:
a,b,c = (1,2,3)
print(a,b,c)

In [ ]:
# a,b = (1,2,3)
# this will give an error because the number of variables is not equal to the number of elements in the tuple

In [ ]:
# swapping of two variables
a = 54
b = 32
a,b = b,a
print(a,b)

`*others`
- used to assign multiple values to a single variable during tuple unpacking
- the variable with * will be a list containing all the values assigned to it
- can be used to ignore multiple values during tuple unpacking

In [ ]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a)        # 1
print(b)        # 2
print(others)   # [3, 4, 5, 6, 7, 8, 9]

In [ ]:
a,*b = (1,2,3,4,5,6,7,8,9)
print(a)        # 1
print(b)        # [2, 3, 4, 5, 6 , 7, 8, 9]

In [ ]:
# Zipping tuples
names = ("Ritesh" , "Vaibhav" , "Rahul")
ages = (20 , 22 , 21)
combined = zip(names, ages)
print(tuple(combined))

### Tuple Comprehension

In [ ]:
# it also creates a generator object like list comprehension
t = (i*i for i in range(10))
print(t)
print(type(t))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

**Characteristics:**
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [ ]:
# 2D set is not possible since set is an unordered collection of unique elements and it can't contain mutable data types like list or set itself.

## Creation of set
- using curly braces `{}`
- using `set()` function
- using comma `,` separated values

In [ ]:
# Creating an empty set
s = {}
print(s)
print(type(s)) # this will give a dictionary since {} is used to represent both set and dictionary
s = set()
print(s)
print(type(s)) # this will give a set

In [ ]:
# 1D and 2D set
s1 = {1,2,3,4,5}
print(s1)
# s2 = {{1,2,3} , {4,5,6}}
# print(s2) # this will give an error since set can't contain mutable data types like list or set itself

In [ ]:
# Duplicate elements
s2 = {1,2,3,4,5,2,3,4,5}
print(s2) # this will print {1, 2, 3, 4, 5} since set doesn't allow duplicate elements

In [ ]:
# heterogeneous set
s3 = {1,2.5,True,"Ritesh"}  # here we get 1 and True are same since both are considered as 1 in set , so only one will be stored .
print(s3)

Why order is not maintained in set ?
- Sets are implemented using hash tables. When an element is added to a set, its hash value is computed, and this hash value determines where the element is stored in memory. This process does not guarantee any specific order of elements.

**Since sets are unordered, they do not support indexing or slicing like lists or tuples. You cannot access elements by their position because there is no defined order.**

In [ ]:
# using set() function
s4 = set([1,2,3,4,5,'hello',2,3,4])
print(s4)

In [ ]:
# using comma separated values
s5 = 1,2,3,4,5,'adam',2,3,4
s5 = set(s5)
print(s5)
print(type(s5))

In [ ]:
# can't have mutable data types like list or set itself
# s6 = {1,2,[3,4,5]} # this will give an error
# s7 = {1,2,{3,4,5}} # this will give an error

In [ ]:
# unordered nature
s1 = {1,2,3,4,5}
s2 = {5,4,3,2,1}
print(s1 == s2) # True , since both sets have same elements
# this also shows that order is not maintained in set

## Accessing elements
- since set is unordered we can't access elements using indexing or slicing

In [ ]:
s = {1,2,3,4,5}
s[0] # this will give an error since set is unordered and doesn't support indexing
s[::-1] # this will also give an error since set is unordered and doesn't support slicing

### Adding items
- using `add()` function to add a single element
- using `update()` function to add multiple elements

In [ ]:
# adding single element
s = {1,2,3}
s.add(4)
print(s)
s.add(2) # adding duplicate element
print(s) # set remains unchanged since duplicate elements are not allowed

In [ ]:
# adding multiple elements
s.update([5,6,7])
print(s)
s.update((8,9,10))
print(s)

### Deleting items

- using `del` keyword to delete the entire set or using indexing to delete a specific element (not possible since set is unordered)
- using `discard()` function to remove a specific element (doesn't raise error if element not found)
- using `remove()` function to remove a specific element (raises error if element not found)
- using `pop()` function to remove and return an arbitrary element
- using `clear()` function to remove all elements

In [ ]:
# del
s = {1,2,3,4,5}
del(s)
# print(s) # this will give an error since s is deleted

t = {1,2,3,4,5}
#del(t[0]) # this will give an error since set doesn't support indexing so we can't delete a specific element using indexing

In [ ]:
# Discard
s = {1,2,3,4,5}
s.discard(3)
print(s)
s.discard(10) # removing an element not present in the set
print(s) # set remains unchanged since discard doesn't raise error if element not found

In [ ]:
# remove
s = {1,2,3,4,5}
s.remove(2)
print(s)
#s.remove(10)
# s.remove(10) # this will give an error since remove raises error if element not found

In [ ]:
# pop
s = {1,2,3,4,5}
x = s.pop()
print(x) # arbitrary element removed
print(s)

In [ ]:
# clear
s = {1,2,3,4,5}
s.clear()
print(s) # empty set

## Set Operations

- Union ( | ) : Combines all unique elements from both sets.
- Intersection ( & ) : Retrieves only the elements that are present in both sets.
- Difference ( - ) : Gets elements that are in the first set but not in the second.
- Symmetric Difference ( ^ ) : Gets elements that are in either of the sets but not in both.
- Membership (in, not in) : Checks if an element is present in the set.
- Iteration : Looping through each element in the set.
- Subset (issubset()) : Checks if all elements of one set are in another set.
- Superset (issuperset()) : Checks if a set contains all elements of another set.
- disjoint (isdisjoint()) : Checks if two sets have no elements in common.

In [ ]:
# Creating two sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
# Union
print("Union : ", A | B)  # {1, 2, 3, 4, 5, 6, 7, 8}
print("Union using function : ", A.union(B))  # {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Intersection
print("Intersection : ", A & B)  # {4, 5}
print("Intersection using function : ", A.intersection(B))  # {4, 5}

In [ ]:
# Difference
print("Difference (A - B) : ", A - B)  # {1, 2, 3}
print("Difference (B - A) : ", B - A)  # {6, 7, 8}
print("Difference using function (A - B) : ", A.difference(B))  # {1, 2, 3}
print("Difference using function (B - A) : ", B.difference(A))  # {6, 7, 8}

In [ ]:
# Symmetric Difference
print("Symmetric Difference : ", A ^ B)  # {1, 2, 3, 6, 7, 8}
print("Symmetric Difference using function : ", A.symmetric_difference(B))  # {1, 2, 3, 6, 7, 8}

In [ ]:
# Membership
print("Is 3 in A? ", 3 in A)  # True
print("Is 6 not in A? ", 6 not in A)  # True

In [ ]:
# Iteration
print("Elements in A:")
for elem in A:
    print(elem)

In [ ]:
# Subset
C = {1, 2}
print("Is C a subset of A? ", C.issubset(A))  # True
print("Is A a subset of B? ", A.issubset(B))  # False

In [ ]:
# Superset
print("Is A a superset of C? ", A.issuperset(C))  # True
print("Is B a superset of A? ", B.issuperset(A))  # False

In [ ]:
# disjoint
D = {9, 10}
print("Are A and D disjoint? ", A.isdisjoint(D))  # True
E = {5, 6}
print("Are A and E disjoint? ", A.isdisjoint(E))  # False

### Basic in-built functions

In [ ]:
# len/max/min/sorted/sum
s = {1,2,3,4,5}
print(len(s))    # length of set
print(max(s))    # maximum element
print(min(s))    # minimum element
print(sorted(s)) # sorted set (Returns a list)
print(sum(s))    # sum of elements , only for numeric sets

`update() vs union()`
- `update()` modifies the original set in place by adding elements from another set or iterable.
- `union()` creates a new set that contains all unique elements from both sets without modifying the original sets.

In [ ]:
# update()
s1 = {1,2,3}
s2 = {4,5,6}
s1.update(s2)
print("After update, s1:", s1)  # s1 is modified to include elements of s2
print("s2 remains unchanged:", s2)  # s2 remains unchanged

In [ ]:
# union()
s3 = {1,2,3}
s4 = {4,5,6}
s5 = s3.union(s4)
print("s3 remains unchanged:", s3)  # s3 remains unchanged
print("s4 remains unchanged:", s4)  # s4 remains unchanged
print("New set s5 (union of s3 and s4):", s5)  # s5 is a new set containing elements of both s3 and s4

`intersection_update() vs intersection()`
- `intersection_update()` modifies the original set in place to keep only elements that are also in another set.
- `intersection()` creates a new set that contains only elements that are present in both sets without modifying the original sets.

In [ ]:
# intersection_update()
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection_update(s2)
print("After intersection_update, s1:", s1)  # s1 is modified to include only elements also in s2
print("s2 remains unchanged:", s2)  # s2 remains unchanged

Same way for difference_update() and symmetric_difference_update()

`copy()`
- creates a shallow copy of the set
- changes made to the copied set do not affect the original set

In [ ]:
s1 = {1,2,3}
s2 = s1.copy()
s2.add(4)
print("Original set s1:", s1)  # s1 remains unchanged
print("Copied set s2 after adding 4:", s2)  # s2 has the new element

### frozenset
- immutable version of a set
- once created, elements cannot be added or removed
- supports all set operations except those that modify the set (like add, remove, clear, update)

In [ ]:
# Creating a frozenset
fs = frozenset([1,2,3,4,5])
print(fs)
print(type(fs))

In [ ]:
# All read-only operations are allowed like union, intersection, difference, symmetric difference
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
print("Union:", fs1 | fs2)  # {1, 2, 3, 4, 5}
print("Intersection:", fs1 & fs2)  # {3}
print("Difference (fs1 - fs2):", fs1 - fs2)  # {1, 2}
print("Symmetric Difference:", fs1 ^ fs2)  # {1, 2, 4, 5}

In [ ]:
 # issubset , issuperset , isdisjoint
fs3 = frozenset([1,2])
print("Is fs3 a subset of fs1? ", fs3.issubset(fs1))  # True
print("Is fs1 a superset of fs3? ", fs1.issuperset(fs3))  # True
fs4 = frozenset([6,7])
print("Are fs1 and fs4 disjoint? ", fs1.isdisjoint(fs4))  # True

functions like add , remove , discard , pop , clear , update , intersection_update , difference_update , symmetric_difference_update are not available for frozenset

**2D frozensets are possible because frozensets are immutable and can contain other frozensets as elements.**

In [ ]:
fs = frozenset([frozenset([1,2,3]) , frozenset([4,5,6])])
fs

In [ ]:
# Accessing elements
for i in fs :
    print(i)

## Set Comprehension
- similar to list comprehension but creates a set instead of a list
- syntax: `{expression for item in iterable if condition}`

In [ ]:
{i*i for i in range(1,11)}

# Dictionary

Dictionary in Python is a collection of keys and values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or associative arrays.

Example:
```python
dict = { 'name': 'Ritesh', 'age': 20, 'gender': 'male' }
```

**Characteristics:**
- Mutable
- Indexing has no meaning
- Keys can't be duplicated
- Keys can't be mutable items

## Creation of dictionary
- using curly braces `{}`
- using `dict()` function
- using comma `,` separated key:value pairs
- using `fromkeys()` function

In [ ]:
# Creating an empty dictionary
d = {}
print(d)
print(type(d))

In [ ]:
# 1D dictionary
d1 = {'name': 'Ritesh', 'age': 20}
print(d1)

In [ ]:
# mixed keys and values
d2 = {(1,2,3): 'tuple_key', 45: 'int_key', 67.89: 'float_key', True: 'bool_key', 'list_key': [1,2,3], 'set_key': {4,5,6}, 'dict_key': {'a': 1, 'b': 2}}
print(d2)

In [ ]:
d3 = { [1,2] : "tuple" , 45 : "int" , 67.89 : "float" , True : "bool" } # this will give an error since list is a mutable item and can't be used as a key

In [ ]:
# 2D dictionary : Json follow this structure
s = {
    'name': 'Ritesh',
    'college': 'ABC',
    'marks': {
        'maths': 95,
        'science': 90,
        'english': 85
    },
    'age': 20,
    'year': 2025
}
s

In [ ]:
# using dict() function
d4 = dict([('name', 'Ritesh'), ('age', 20)])
print(d4)

In [ ]:
# using comma separated key:value pairs
d5 = 'name', 'Ritesh', 'age', 20
d5 = dict([ (d5[i], d5[i+1]) for i in range(0, len(d5), 2) ])
print(d5)

In [ ]:
# using fromkeys() function
keys = ['name', 'age', 'year']
d6 = dict.fromkeys(keys, 'Ritesh')
print(d6)

In [ ]:
# if value is not provided then it will be None by default
d7 = dict.fromkeys(keys)
print(d7)

**Dictionary keys can't be duplicate since they are used to access the values. If duplicate keys are used, the last occurrence will overwrite the previous ones.**

In [ ]:
d8 = {'name': 'Ritesh', 'age': 20, 'name': 'Rahul'}
print(d8) # {'name': 'Rahul', 'age': 20} ==> 'name' key is duplicated, so the last value 'Rahul' overwrites 'Ritesh'

**mutable items like list or set can't be used as keys since they can be changed after creation, which would make it impossible to reliably access the associated value. Immutable items like strings, numbers, and tuples can be used as keys.**

In [ ]:
d9 = { [1,2,3] : "list_key" , {4,5,6} : "set_key" } # this will give an error since list and set are mutable items and can't be used as keys

In [ ]:
d10 = {5:'hello',4:'world',3:'python',2:'is',1:'great'}
d10

Dictionary is an unordered collection of items so the order of items may not be the same as the order in which they were added.

## Accessing elements
- using keys
- using `get()` function
- using `items()`, `keys()`, `values()` functions

In [ ]:
d11 = {'name': 'Ritesh', 'age': 20, 'college': 'ABC'}
# []
print(d11['name'])  # accessing value using key

# get()
print(d11.get('age'))  # accessing value using get() function

# items()
print(d11.items())  # returns a view object of key-value pairs

# keys()
print(d11.keys())  # returns a view object of keys

# values()
print(d11.values())  # returns a view object of values

## Adding items ( key-value pairs)

In [ ]:
d11

In [ ]:
d11['year'] = 2025  # adding a new key-value pair
d11

### Removing items ( key-value pairs)
- `pop()` function to remove a specific key-value pair
- `popitem()` function to remove and return last inserted key-value pair
- `del` keyword to delete a specific key-value pair or the entire dictionary
- `clear()` function to remove all key-value pairs

In [ ]:
# pop()
d11.pop('age')  # removing key-value pair with key 'age'
d11

In [ ]:
# popitem()
a = d11.popitem()  # removing and returning an arbitrary key-value pair
print(a)
d11

In [ ]:
# del
del d11['college']  # deleting key-value pair with key 'college'
d11

# or delete entire dictionary
del d11
# print(d11) # this will give an error since d11 is deleted

In [ ]:
# clear()
d12 = {'name': 'Ritesh', 'age': 20, 'college': 'ABC'}
d12.clear()  # removing all key-value pairs
print(d12)  # empty dictionary

### Accessing nested dictionary

In [ ]:
s = {
    'name': 'Ritesh',
    'college': 'ABC',
    'marks': {
        'maths': 95,
        'science': 90,
        'english': 85
    },
    'age': 20,
    'year': 2025
}
# accessing nested dictionary
print(s['marks'])          # entire marks dictionary
print(s['marks']['maths']) # marks in maths

### Adding items to nested dictionary

In [ ]:
s['marks']['history'] = 88  # adding history marks
print(s)

### Removing items from nested dictionary

In [ ]:
s

In [ ]:
s['marks'].pop('science')  # removing science marks
print(s)

In [ ]:
del s['marks']['english']  # deleting english marks
print(s)

### Editing items

In [ ]:
s

In [ ]:
s['name'] = 'Rahul'  # changing name
s['marks']['maths'] = 98  # changing maths marks
print(s)

`Always remember that in dictionary all we care about is keys since they are used to access the values.`

## Dictionary Operations
- Membership (in, not in) : Checks if a key is present in the dictionary.
- Iteration : Looping through each key-value pair in the dictionary.
- Merging (update()) : Merges another dictionary into the current dictionary.

In [ ]:
s

In [ ]:
'age' in s  # checking if 'age' key is present in the dictionary

works only for keys not for values.|

In [ ]:
for i in s :
    print(i)  # printing all keys in the dictionary

In [ ]:
# printing all key-value pairs in the dictionary
for i in s:
    print(i, ":", s[i])

In [ ]:
# alternatively using items() function
for key, value in s.items():
    print(key, ":", value)

## Dictionary Functions
- `len()` : Returns the number of key-value pairs in the dictionary.
- `sorted()` : Returns a sorted list of keys in the dictionary.
- `min()` : Returns the minimum key in the dictionary.
- `max()` : Returns the maximum key in the dictionary.
- `all()` : Returns True if all keys are true (non-zero, non-empty).
- `any()` : Returns True if any key is true (non-zero, non-empty).
- `sum()` : Returns the sum of all numeric keys in the dictionary.
- `copy()` : Returns a shallow copy of the dictionary.

In [ ]:
len(s)

In [ ]:
sorted(s)   # for descending order use sorted(s, reverse=True)

In [ ]:
min(s)

In [ ]:
max(s)

In [ ]:
all(s)

In [ ]:
any(s)

In [ ]:
# sum of numeric keys
d = {1: 'a', 2: 'b', 3: 'c'}
sum(d)

### items(), keys(), values()

these are methods that return view objects of the dictionary's items, keys, and values respectively.

syntax:     `dict.items()` same for keys() and values()

- `items()` : Returns a view object of key-value pairs.
- `keys()` : Returns a view object of keys.
- `values()` : Returns a view object of values.

In [ ]:
a = s.items()
a

In [ ]:
b = s.keys()
b

In [ ]:
c = s.values()
c

update() vs merge()
- `update()` modifies the original dictionary in place by adding key-value pairs from another dictionary or iterable of key-value pairs.
- `merge()` (introduced in Python 3.9 with the `|` operator) creates a new dictionary that contains all key-value pairs from both dictionaries without modifying the original dictionaries.

In [ ]:
d1 = {'name': 'Ritesh', 'age': 20}
d2 = {'college': 'ABC', 'year': 2025}

# Using update()
d1.update(d2)
print("After update, d1:", d1)  # d1 is modified to include elements of d2
print("d2 remains unchanged:", d2)  # d2 remains unchanged

# Using merge (Python 3.9+)
d3 = {'name': 'Ritesh', 'age': 20}
d4 = {'college': 'ABC', 'year': 2025}
d5 = d3 | d4

print("d3 remains unchanged:", d3)  # d3 remains unchanged
print("d4 remains unchanged:", d4)  # d4 remains unchanged
print("New dictionary d5 (merge of d3 and d4):", d5)  # d5 is a new dictionary containing elements of both d3 and d4

## Dictionary Comprehension
![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}
# here outer loop is for rows and inner loop is for columns

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

### Questions

In [ ]:
# Question
# take a long para input then covert it into a list of words .
# remove all the duplicates then use these distinct elements as a key for dictionary
# assign your name as value for all the keys in the dictionary
# print tuple of all the values .
# print list of all keys

In [ ]:
para = input("Enter a paragraph : ")

lst1 = para.split(" ")
s1 = set(lst1)
dic1 = dict.fromkeys(s1,"Ritesh")
t1 = tuple(dic1.keys())
l1 = list(dic1.values())

print(t1)
print(l1)
print(dic1)