In [1]:
# Function

In [ ]:
# def is used to declare a function .

In [4]:
def sum2(x,y) :
    # pass ==> use when we are not declaring the complete function .
    print(x+y)


sum2(64,75)
sum2(2324,23)
sum2(13.123,131.543)
sum2(32,4546)

139
2347
144.666
4578

In [5]:
sum2(23,45) + 42
# since it is an void function .

NameError: name 'sum2' is not defined

In [3]:
def mul2(x,y) :
    return x*y

print(mul2(12,2))
print(mul2(13.23,323.2))
print(mul2(231,421))

24
4275.936
97251

In [11]:
mul2(23,24) + 34

586

In [9]:
def test(m , n) :
    return m*10  , n * 10 , m*n 

print(test(23,4))
type(test(23,4))

(230, 40, 92)

tuple

In [16]:
# by default when we return multiple values they they will be in the form of a tuple .
# can also hold the data into separate variables like below .

In [17]:
a,b,c = test(82,23)

In [18]:
print(a)
print(b)
print(c)

820
230
1886

In [19]:
# when do not require an return then we can use "_" placeholder .

In [20]:
a,b,_ = test(3,4)
print(a)
print(b)
print(_)

30
40
12

In [23]:
a,_,_ = test(6,2)
print(a)
print(_)
print(_)

60
12
12

In [25]:
_,_,_ = test(9,6)
print(_)
print(_)
print(_)

54
54
54

In [27]:
def test3(n) :
    return n*2

print(test3([1,2,3,4]))
print(test3(36))

[1, 2, 3, 4, 1, 2, 3, 4]
72

In [37]:
def test3(n) :
    return n , n*3

b = test3([1,2,3,4])
print(b)
print("\n")
print(b[0])

print("\n")

c = test3(36)
print(c)
print("\n")
print(c[0])

([1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])


[1, 2, 3, 4]


(36, 108)


36

In [ ]:
# we can also assign default values in a function that will be taken when a value is not provided .
# But , the variables with default values must be placed to the rightmost side of braces "( , , , , here)" .

In [40]:
def test7(n , m = 40) :
    return n + m

In [41]:
test7(60)

100

In [42]:
test7(150 , 50)

200

In [46]:
def boolx(a = True  , b = False) :
    return a + b

In [47]:
boolx()

1

In [49]:
boolx(False , False)

0

In [50]:
boolx(0,0)

0

In [51]:
def travel(car = True , bike = False) :
    plan = car or bike 
    return car , bike , plan

In [52]:
travel()

(True, False, True)

In [54]:
travel(False)
# this false will be assigned to the car which is declared first .

(False, False, False)

In [56]:
travel(bike = True)
# so we can assign like this also without assigning the car .

(True, True, True)

In [59]:
# to pass multiple data into a function we use *args

In [67]:
def test8(*args) :
    return args

test8(1,3,4.32 , "Ritesh" , {2,3,4,5} , ["hiii" , 90 , 33.2])

(1, 3, 4.32, 'Ritesh', {2, 3, 4, 5}, ['hiii', 90, 33.2])

In [68]:
# Question
# write a funnction that takes n list as input and concatenates them into a single list .

In [70]:
# this we have to convert for n list inputs .
def test9(a,b,c) :
    return a+b+c
test9([1,2],[3,4],[5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [78]:
def listCon(*args) :
    l = []
    for i in args :
        l = l + i
    return l

listCon([1,2],[3,4],[5,6,7],[8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
listCon([1,2],78,[5,6,7],"hii",[8,9])

TypeError: can only concatenate list (not "int") to list

In [76]:
# sice we can only concatenate data that has same data type
# modified code below ,

In [82]:
def listCon1(*args) :
    l = []
    for i in args :
        if type(i) == list :
            l = l + i
    return l

listCon1([1,2],78,[5,6,7],"hii",[8,9])

[1, 2, 5, 6, 7, 8, 9]

In [83]:
# **kwargs ==> keyword args => is used to get input input as a key value pair and returns a dictionary .

In [87]:
def test10(**kwargs) :
    return kwargs

test10(2,3,4,5)

TypeError: test10() takes 0 positional arguments but 4 were given

In [88]:
# bcoz the function is expecting input in the form of key value pair .

In [90]:
test10(a = 8 , b = 9 , c = 276 , d =927)

{'a': 8, 'b': 9, 'c': 276, 'd': 927}

In [93]:
test10(a = "hello" , b = [12,96,43,12,4,64] , c = {34 : 34 , 22 : "eww"} , d =(1,3,4,5,6))

{'a': 'hello',
 'b': [12, 96, 43, 12, 4, 64],
 'c': {34: 34, 22: 'eww'},
 'd': (1, 3, 4, 5, 6)}

In [94]:
# can't pass a dictionary like this .
test10({'a': 8, 'b': 9, 'c': 276, 'd': 927})

TypeError: test10() takes 0 positional arguments but 1 was given

In [104]:
# Question :
# create a function to take mixed input from the user then create separate list based on the data type and then return .
# create a function which will be able to use *args and **kwargs and it will be able to do concatenation of all and provide a list as a result .

In [108]:
def Qu1(*args) :
    a = []
    b = []
    c = []
    d = []
    e = []
    f = []
    g = []
    for i in args :
        if type(i) == int :
            a.append(i)
        if type(i) == float :
            b.append(i)
        if type(i) == str :
            c.append(i)
        if type(i) == tuple :
            d.append(i)
        if type(i) == list :
            e.append(i)
        if type(i) == dict :
            f.append(i)
        if type(i) == bool :
            g.append(i)
    return a,b,c,d,e,f,g

Qu1(1,3,34.332,32,33.43,"232sds","edwd","wdewd",[2313,23424,453],("ada","ad","dqqd",331))

([1, 3, 32],
 [34.332, 33.43],
 ['232sds', 'edwd', 'wdewd'],
 [('ada', 'ad', 'dqqd', 331)],
 [[2313, 23424, 453]],
 [],
 [])

In [114]:
# modified code for the above function , since above will fail for new data types like complex numbers and all .

In [115]:
def Q1(*args) :
    dt = {}
    for i in args : 
        if type(i) in dt :
            dt[type(i)].append(i)
        else :
            dt[type(i)] = [i]

    return dt

In [116]:
Q1(1,3,34.332,32,33.43,"232sds","edwd","wdewd",[2313,23424,453],("ada","ad","dqqd",331) , {"aad" : 232 , "dewd" : 42342} , 728 + 372j , 87 + 82j)

{int: [1, 3, 32],
 float: [34.332, 33.43],
 str: ['232sds', 'edwd', 'wdewd'],
 list: [[2313, 23424, 453]],
 tuple: [('ada', 'ad', 'dqqd', 331)],
 dict: [{'aad': 232, 'dewd': 42342}],
 complex: [(728+372j), (87+82j)]}

In [110]:
def Qu2(*args , **kwargs) :
    l = [i for i in args]
    d = [i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l ,d

In [111]:
Qu2([12,4,45,6,6,2] , 3,6,3,2,45,q =32 , s = 22 , b ="wrwr" , m = [2,345,6,3,2,1])

([[12, 4, 45, 6, 6, 2], 3, 6, 3, 2, 45], [[2, 345, 6, 3, 2, 1]])

In [112]:
def test11(**kwargs) :
    for i in kwargs.items() :
        if type(i[1]) == list :
            if "rishu" in i[1] :
                print("name found in input data !")
                print(i[1])
    return kwargs

In [113]:
test11(b = 9 , c = [1,2,4,4,5,6] , d = ["rishu" , "swami" , 231 ] , n = 39 + 39j)

name found in input data !
['rishu', 'swami', 231]

{'b': 9, 'c': [1, 2, 4, 4, 5, 6], 'd': ['rishu', 'swami', 231], 'n': (39+39j)}

In [4]:
# Lambda function :
# it is a type function which is anonymous it has no name of its own , we use lambda keyword to declare such function .

In [2]:
# DEFAULT Function
def sum(a,b) :
    return a + b

# LAMBDA Function
x = lambda a , b : a + b

print(sum(21,53))
print(x(21,53))

74
74

In [3]:
# lambda function does not remove any complexity of a function as such so , default one is used widely .

In [5]:
# Defining Docstring: for our defined functions .

In [7]:
def sum2(a,b) :
    # docstring of our function is written below , just write everything in tripple quotation just like multi line comment .
    """
    this function is used to find sum of two integers and float .
    """
    return a + b

sum2(23,3)

26

In [8]:
help(sum2)

Help on function sum2 in module __main__:

sum2(a, b)
    this function is used to find sum of two integers and float .

# Iterator and Generator

## Iterator and Iterable

In [9]:
a = 10
for i in a :
    print(i)

TypeError: 'int' object is not iterable

In [10]:
for i in "ritesh" :
    print(i)

r
i
t
e
s
h

In [11]:
# how can we extract the data like above without using loops .

In [19]:
s = "ritesh"
next(s)
# so by default string is itterable but not iterator , iter() fuction is used to convert it into an iterator .

TypeError: 'str' object is not an iterator

In [18]:
s = iter(s)
next(s)

'r'

In [13]:
# iterator is an entity or object out of which we can extract the data with the help of indexes .

In [20]:
# iterable is an entity or object out of which we can extract the data .

In [23]:
a = 10
next(a)
# int is neither iterator nor itterable object .

TypeError: 'int' object is not an iterator

In [24]:
a = iter(a)

TypeError: 'int' object is not iterable

In [25]:
s = "Rishu"
s = iter(s)

In [26]:
next(s)

'R'

In [27]:
next(s)

'i'

In [28]:
next(s)

's'

In [29]:
next(s)

'h'

In [30]:
next(s)

'u'

In [31]:
next(s)

StopIteration:

In [33]:
# so here for loop first convert our string into a iterator and then it do next() , next() .....
for i in "hello" :
    print(i)

h
e
l
l
o

In [ ]:
# hence list is also not iterator object , it is a itterable object .

In [41]:
l = [1,2,4,5]
next(l)

TypeError: 'list' object is not an iterator

In [42]:
l = iter(l)

In [43]:
next(l)

1

In [44]:
next(l)

2

In [45]:
next(l)

4

In [46]:
next(l)

5

In [47]:
next(l)

StopIteration:

In [48]:
t = (1,2,3,4)
next(t)

TypeError: 'tuple' object is not an iterator

In [49]:
t = iter(t)

In [50]:
next(t)

1

In [51]:
# check for rest

## Generator

In [52]:
def test17(n) :
    l = []
    for i in range(n) :
        l.append(i**3)

    return l

In [57]:
# test17(600000000)
# takes too much of time to run .

In [58]:
# the function will not release the memory untill all the append operations are performed meaning till it comes out of the for loop .

In [59]:
def test18(n) :
    for i in range(n) :
        yield i**3
# yield id s keyword thst remembers what we have done last time for the generator function .

In [62]:
test18(10)

In [63]:
for i in test18(10) :
    print(i)

0
1
8
27
64
125
216
343
512
729

In [2]:
# for i in test18(600000000) :
#   print(i)
# now it is much faster , since it is providing data as it is processed not like before where we recieve data after loop complition .
# since we are displaying the runtime result data .
# less memory intensive .

In [3]:
# Question
# Fibonacci series

In [13]:
def fibo(n) :
    x = 1 
    y = 1 
    output = []
    for  i in range(n) :
        output.append(x)
        x,y = y , x+y
        
    return output

In [14]:
fibo(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [10]:
# now , converting the above function as an generator function

In [18]:
def Gfibo(n) :
    x = 1 
    y = 1 
    for i in range(n) :
        yield x
        x,y = y , x+y

In [19]:
Gfibo(30)

In [21]:
for i in Gfibo(15) :
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610